<section class="book-view container">
    <div class="detail-book-card">
        <div class="image-container">
            <img src="<%= book.image_url %>" />
        </div>
        <h3><%= book.title %></h3>
        <h5><%= book.authors %></h5>
        <div>
            <%= book.book_description %>
        </div>
        <button class="edit-btn" onclick="selectBook()">Edit</button>
        <div class="edit-div">
            <%- include ./edit.ejs %>
        </div>
    </div>
  </section>