<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book Application</title>
    <link rel="stylesheet" type="text/css" href="styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="styles/base.css" />
    <link rel="stylesheet" type="text/css" href="styles/nav.css" />
</head>
<body class="container">
<header>
  <%- include ../../layout/nav.ejs %>
</header>

<main>
  <div class="subheading">
    <h3>Search Results</h3>
  </div>
    <ul>
        <% searchResults.forEach(function(book) { %>
          <div class="book-card">
            <div class="image-container">
                <img src="<%= book.image %>" />
            </div>
            <h3><%= book.title %></h3>
            <h5><%= book.author %></h5>
            <div>
              <p class="description"><%= book.description %></p>
            </div>
          </div>
        <% }); %>
      </ul>
</main>

<footer>
  
</footer>

</body>
</html>