<!DOCTYPE html>
<html lang="en">

<%- include ../layout/head.ejs %>

<body class="container">
    <header>
        <%- include ../layout/nav.ejs %>
    </header>
    <main>
        <%- include('../layout/subheader.ejs', {title: 'Search By Title or Author'}); %>
        <%- include ../pages/searches/new %>
    </main>
    <%- include ../layout/footer.ejs %>
</body>

</html>